{% extends 'base.html' %}

{% block title %}あべろぐ | Password reset done{% endblock %}

{% block contents %}
<div style="display: flex; justify-content: center;">
    <div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-3">       <!--offset-md-3...col-md-6の要素の左右に3カラム分-->  
            <h1 style="font-size: 20px; font-weight: bold; margin:30px 0;">パスワードリセット</h1>
            <!--password_reset.html参照-->
            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            <p>パスワードリセット用のメールを送信しました</p>
        </div>
      </div>
    </div>
</div>
{% endblock %}


