{% extends 'base.html' %}

{% load django_bootstrap5 %}

{% block title %}あべろぐ | パスワードリセット{% endblock %}

{% block contents %}
<div style="display: flex; justify-content: center;">
    <div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-3">       <!--offset-md-3...col-md-6の要素の左右に3カラム分-->  
            <h1 style="font-size: 20px; font-weight: bold; margin:30px 0;">パスワードリセット</h1>
            <!-- ユーザー認証がされているならば -->
            {% if user.is_authenticated%}
                {% include "account/snippets/already_logged_in.html"%}
            {% endif %}
            <p>パスワードリセット用メールを送信します。</p>
            <form method="post" action="{% url 'account_reset_password' %}">
                {% csrf_token %}
                <div class="mb-4 col-4">
                    {% bootstrap_form form %}
                </div>
                <button class="btn btn-primary" type="submit">送信</button>
            </form>
        </div>
      </div>
    </div>
</div>
{% endblock %}


