{% extends 'base.html' %}
{% load static %}

{% block title %}予約確認{% endblock %}

{% block contents %}

<div class="a_detail" style="display: flex; justify-content: center;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 class="store-h1">予約確認</h1>
                <p>以下の内容で予約を確定しますか？</p>
                <table class="table table-striped">
                    <tr>
                        <th>予約者名</th>
                        <td>{{ user.full_name }}</td>
                    </tr>
                    <tr>
                        <th>フリガナ</th>
                        <td>{{ user.furigana }}</td>
                    </tr>
                    <tr>
                        <th>メールアドレス</th>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <th>予約店名</th>
                        <td>{{ restaurant_name }}</td>
                    </tr>
                    <tr>
                        <th>予約日</th>
                        <td>{{ date }}</td>
                    </tr>
                    <tr>
                        <th>予約時間</th>
                        <td>{{ time }}〜</td>
                    </tr>
                    <tr>
                        <th>予約人数</th>
                        <td>{{ persons }}名</td>
                    </tr>
                </table>
                <form action="#" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-warning">確定する</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}