{% extends 'base.html' %}
{% load static %}

{% block title %}お気に入り一覧{% endblock %}

{% block contents %}
<div class="a_detail">
    <div class="store-h1">
        <h1>お気に入り一覧</h1>
    </div>
    <hr class="hr1 mb-5">

        {% for object in object_list %}
        <div class="fav-list">
        <a href="{% url 'gourmet:detail' object.fav.id  %}"><img src="{{ object.fav.photo1.url}}" class="img-thumbnail0" style="max-width: 100%; max-height: 150px;" alt="..."></a></td> <!--写真は丸みをつける-->
            <div class="fav-text col-md-6">
                <a href="{% url 'gourmet:detail' object.fav.id  %}"><strong style="font-size: 18px; color: black;">{{object.fav.store_name}}</strong></a>
                <br>
                <p style="text-indent: 1em; font-style: italic;">{{object.fav.category}}</p>
            </div>
            <div class="fabtn-container">
                <form class="list-form" method="post" action="{% url 'gourmet:toggle-fav' store_id=object.fav.id %}"> <!--クラスセレクタを使用して複数のフォームを取得-->
                    {% csrf_token %}
                    <button type="submit" class="list-btn btn-design">
                        お気に入りを解除
                    </button>
                  </form>
      
            </div>
        </div> 
        {% empty %}
        <p class="mt-5">お気に入りはありません。</p>
       
        {% endfor %}
      

        <ul class="Pagination">
            {% if page_obj.has_previous %}
            <li class="Pagination-Item">
                <a class="Pagination-Item-Link" href="?page={{ page_obj.previous_page_number }}">
                    <svg xmlns="http://www.w3.org/2000/svg" class="Pagination-Item-Link-Icon" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M11 19l-7-7 7-7m8 14l-7-7 7-7" />
                    </svg>
                </a>
            </li>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
            <li class="Pagination-Item">
                <a class="Pagination-Item-Link {% if page_obj.number == num %}isActive{% endif %}" href="?page={{ num }}"><span>{{ num }}</span></a>
            </li>
            {% endfor %}
            {% if page_obj.has_next %}
            <li class="Pagination-Item">
                <a class="Pagination-Item-Link" href="?page={{ page_obj.next_page_number }}">
                    <svg xmlns="http://www.w3.org/2000/svg" class="Pagination-Item-Link-Icon" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13 5l7 7-7 7M5 5l7 7-7 7" />
                    </svg>
                </a>
            </li>
            {% endif %}
        </ul>            


</div>


{% endblock %}


