{% extends 'base.html' %}
{% load static %}

{% block title %}あべろぐ | 有料会員登録{% endblock %}

{% block contents %}
<div class="a_detail">
    <div class="store-h1">
        <h1>有料会員登録</h1>
    </div>
    <hr class="hr1 mb-5">

    <div class="row justify-content-center">

        <div class="col-md-6">
            <div>
                <form method="post">
                    {% csrf_token %}

                    {{ form.non_field_errors }} <!--フォーム全体に関するエラー（フィールドに特定されないエラー）-->
                    {{ form.card_brand.errors }} <!--個別フィールドに特有のエラーメッセージ-->
                    {{ form.title.errors }}
                    {{ form.exp_month.errors }}
                    {{ form.exp_year.errors }}
                    {{ form.cardholder.errors }}
                    {{ form.last4.errors }}

                    <p class="mt-4 mb-0 text-start fw-bold">カードブランド:</p>
                    {{ form.card_brand }}
                    <p class="mt-4 mb-0 text-start fw-bold">カード番号:</p>
                    {{ form.last4 }}
                    <div class="text-start" style="color: red;">
                        {% for error in form.last4.errors %}
                        <p>正しく修正してください。</p>
                        {% endfor %}
                    </div>

                    <p class="mt-4 mb-0 text-start fw-bold">有効期限</p>
                    <div class="d-flex">
                        {{ form.exp_month }}
                        <p style="margin:0  30px;">/</p>
                        {{ form.exp_year }}
                    </div>
                    <p class="mt-4 mb-0 text-start fw-bold">名前(英字)</p>
                    {{ form.cardholder }}
            
                    <button class="mt-4 btn btn-primary" type="submit">送信</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}



