{% extends 'base.html' %}
{% load static %}

{% block title %}予約一覧{% endblock %}

{% block contents %}
<div class="a_detail">
    <div class="store-h1">
        <h1>予約一覧</h1>
    </div>
    <hr class="hr1 mb-5">

    <div class="row justify-content-center">
        <div class="col-md-10">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th><th>店名</th><th>日付</th> <th>時間</th>  <th>予約人数</th>
                    </tr>
                </thead>
                {% for reservation in reservations %}
                <tr>
                    <td><a href="{% url 'gourmet:detail' reservation.store_name.id %}"><img src="{{ reservation.store_name.photo1.url}}" class="img-thumbnail0" style="max-width: 100%; max-height: 150px;" alt="..."></a></td> <!--写真は丸みをつける-->
                    <td><a href="{% url 'gourmet:detail' reservation.store_name.id %}" style="font-size: 1.5em;">{{reservation.store_name}}</a></td> <!--object.pk がnotfoundとなる理由は？-->
                    <td>{{reservation.date}}</td>
                    <td>{{reservation.time}}〜</td>
                    <td>
                        <div style="display: flex;flex-direction: column;justify-content: space-between;height: 150px;">
                            <div>{{ reservation.persons }}名</div>
                            <div style="margin-bottom: 5px;"><a href="{% url 'gourmet:reserve_delete' pk=reservation.pk %}" class="btn btn-outline-danger">予約をキャンセル</a></div>
                        </div>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5">予約がありません。</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock %}