{% extends 'base.html' %}
{% load static %}

{% block title %}あべろぐ | 店舗詳細{% endblock %}

{% block head %}
<!--予約カレンダーのcssとjs-->
<link rel="stylesheet" href="{% static 'css/default.css' %}">
<link rel="stylesheet" href="{% static 'css/default.date.css' %}">
<link rel="stylesheet" href= "{% static 'css/default.time.css' %}">

<script src="https://code.jquery.com/jquery-1.10.0.min.js"></script>
<script src="{% static 'js/picker.js'%}"></script>
<script src="{% static 'js/picker.date.js'%}"></script>
<script src="{% static 'js/picker.time.js' %}"></script>
<script src="{% static 'js/legacy.js'%}"></script>
<script src="{% static 'js/lang-ja.js' %}"></script> 
<script src="{% static 'js/main2.js' %}"></script>

<!--skelton-tabの使用(base.htmlには適応しない)-->
<link rel="stylesheet" href="{% static 'css/skeleton-tabs.css' %}">
<link rel="stylesheet" href="{% static 'css/skeleton.css' %}">


<!--写真の拡大機能(テスト)-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.4/css/lightbox.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.4/js/lightbox.min.js" defer type="text/javascript"></script>

{% endblock %}

{% block contents %}

<!--タブのバー-->
<div class="tab-container">
  <ul class="tab-nav">
    <li>
      <a class="button active" href="#one">トップ</a>
    </li>
    <li>
      <a class="button" href="#two">レビュー</a>
    </li>
    <li>
      <a class="button" href="#three">その他</a>
    </li>
  </ul>
</div>
<!--タブのバー終了-->

<!--タブの各ページ-->
<div class="tab-content">

<!--タブのバー1つめ-->
  <div class="tab-pane active" id="one">

    <div class="a_detail">
      <div class="store-h1">
          <h1>店舗詳細</h1>
      </div>
      <hr class="hr1 mb-5">

      <!--定休日or営業日の確認-->
      <div >
      <!-- <p>本日は{{weekday}}曜日</p> -->
      <!-- <p>定休日:{{object.holiday}}</p> -->
      {% if weekday == object.holiday  or weekday == object.holiday2 or weekday == object.holiday3 %}
      <p><span style="background-color: red; font-size: 30px;color: #FFF;">定休日</span></p>
      {% elif object.holiday == '不定休' or  object.holiday2 == '不定休' or object.holiday3 == '不定休' %}
      <p><span style="background-color: yellow; font-size: 30px; width:auto">こちらのお店は不定休です。</span></p>
        {% if object.irregular %}
        <p>{{  object.irregular }}</p>
        {% else %}
        <p>詳細は公式HP、instagramやX、商業施設の営業時間などでご確認ください。</p>
      {% endif %}
      {% elif object.holiday == '臨時休業' %}
      <p ><span style="background-color: red; font-size: 30px;color: #FFF;">臨時休業中</span></p>
    {% else %}
      <p><span style="background-color: chartreuse; font-size: 30px;color: #878383; font-weight: bold;">本日営業日</span><br>*営業時間・定休日は変更となる場合がございますので、ご来店前に店舗にご確認ください。</p>
    {% endif %}
      </div>

      

        <!-- Sliderを包むコンテナ要素 -->
      <div class="d-con">
        <div class="swiper" id="loop" style="margin-top: 50px;">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              {% if object.photo1_compressed %}
                <img src="{{ object.photo1_compressed.url }}" alt="Photo 1">
              {% elif object.photo1 %}
                <img src="{{ object.photo1.url }}" alt="Photo 1">
              {% endif %}
            </div>
            <div class="swiper-slide">
              {% if object.photo2_compressed %}
                <img src="{{ object.photo2_compressed.url }}" alt="Photo 2">
              {% elif object.photo2 %}
                <img src="{{ object.photo2.url }}" alt="Photo 2">
              {% endif %}
            </div>
            <div class="swiper-slide">
              {% if object.photo3_compressed %}
                <img src="{{ object.photo3_compressed.url }}" alt="Photo 3">
              {% elif object.photo3 %}
                <img src="{{ object.photo3.url }}" alt="Photo 3">
              {% endif %}
            </div>
          </div>
          <div class="custom-prev"><i class="fa fa-chevron-left"></i></div>
          <div class="custom-next"><i class="fa fa-chevron-right"></i></div>
        </div>
      </div>
        
        <!--お気に入り機能-->
        <div class="fav col-md-9 mt-3">
          <form id="fav-form" method="post" action="{% url 'gourmet:toggle_favorite' store_id=storeinfo.pk %}">
            {% csrf_token %}
            {% if user.is_authenticated %}
            <button type="submit" id="fav-btn">
              {% if storeinfo.id in user_likes %} <!--店舗詳細ページ上ではお気に入りボタンが押されるまではstore.idを取得できない。--><!--user_likesはviewで作成したいいねリスト-->
                <span id="fav"><i class="fa-solid fa-heart-circle-plus"></i></span>
              {% else %}
                お気に入りに追加<span id="non-fav"><i class="fa-regular fa-heart"></i></span>
            {% endif %}
            </button>
            {% else %}
            <p>お気に入り登録するには<a href="{% url 'account_login'%}">ログイン</a>してください。</p>
            {% endif %}
        
          </form>
          <span id="like-count">{{ storeinfo.like_set.count }}件のいいねがあります。</span> <!--storeinfoに関連するLikeオブジェクトの数をカウント-->
        </div>
        <!--お気に入り機能終了-->

        <div class="row" style="margin-top:80px;">
          <div class="store-info col-md-8" style="padding: 10px; margin-bottom: 10px; border: 1px dotted #333333; border-radius: 5px; height: auto;">
            <strong>{{ object.store_name }}</strong>
            <br>
            <p style="text-indent: 2rem; font-style: italic;">{{object.category}}</p>
            <div class="desc">
                <u><p>店舗説明:</p></u>
                <p>{{ object.store_detail }}</p>
                <br><br>
                <u>住所:</u>
                <p>{{object.store_address}}</p>
                <br><br>
                <u>定休日:</u>
                <strong>{% if object.holiday %}{{object.holiday}}{% endif %}{% if object.holiday2 %}・{{object.holiday2}}{% endif %}{% if object.holiday3 %}・{{object.holiday3}}{% endif %}</strong>
                {% if object.irregular %}(*{{object.irregular}}){% endif %}
            </div>
          </div>
  
        <!--カレンダーから予約するページ-->
        <section class="section col-md-4 mt-5">
          <div class="section__block section__block--scoped">
            <h3 style="font-size: 15px; font-weight: bold; margin-bottom: 8px;">予約する</h3>   
  
            <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit"  id="submit" class="btn btn-success btn-lg mt-4" style="display: flex; justify-content: center; align-items: center;margin: auto;">予約する</button>
            </form>  
          </div>
        </div>
    </div>
  </div>
  
      <script>
          $(document).ready(function(){
            $('.js__datepicker').pickadate({
              format: 'yyyy-mm-dd',
              formatSubmit: 'yyyy-mm-dd',
              hiddenName: true
            });
        
            $('.js__timepicker').pickatime({
              format: 'HH:i',
              formatSubmit: 'HH:i',
              hiddenName: true,
              interval: 30,   // 表示間隔
              min: [10,00],   // 予約開始時間
              max: [20,00]    // 予約終了時間 
            });
          });   
        </script>
  <!--タブのバー1つめ(終了)-->

  <!--タブのバー2つめ-->
  <div class="tab-pane" id="two">
    <div class="a_detail">
      <div class="store-h1">
          <h1>レビュー一覧</h1>
        </div>
      <hr class="hr1 mb-5">
      <a href="{% url 'gourmet:review_form' store_id=object.pk %}" class="btn btn-warning btn-lg">口コミを投稿する</a>
      
    {% for review in reviews %}
    <div class="review-box text-start">
      <div class="review-style" style="display: flex;">
      <strong>{{ review.handle }}</strong> 
      {% if review.score == 1 %}
      <span id="star-color">★</span> <span id="rating-number">1.0</span>
      {% elif review.score == 2 %}
      <span id="star-color">★★</span> <span id="rating-number">2.0</span>
      {% elif review.score == 3 %}
      <span id="star-color">★★★</span> <span id="rating-number">3.0</span>
      {% elif review.score == 4 %}
      <span id="star-color">★★★★</span> <span id="rating-number">4.0</span>
      {% elif review.score == 5 %}
      <span id="star-color">★★★★★</span> <span id="rating-number">5.0</span>
      {% endif %}
      <div style="margin-left: auto;">
      <!-- <p>今ログインしている人:{{user}}</p>
      <p>このレビューを書いた人:{{review.user}}</p> -->
      {% if user == review.user %}  <!--現在ログインしているユーザーとレビューの投稿者が一致していれば-->
      <a class="class="edit-btn  style="border: solid 1px #7d7c7c; color: #6c6969; border-radius: 5px; padding: 5px; font-weight: bold;" href="{% url 'gourmet:review_edit' pk=review.pk %}">編集</a>
      <a class="class="edit-btn  style="border: solid 1px #7d7c7c; color: #6c6969; border-radius: 5px; padding: 5px; font-weight: bold;" href="{% url 'gourmet:review_delete' pk=review.pk %}">削除</a>
      {% endif %}
      </div>
      </div>
      <br>
      <hr style="color: #7d7c7c; margin-top: 5px;">
      投稿日時: {{ review.create_at }}
      <h3  class="review-title" style="font-size: 15px; font-weight: bold;" >{{ review.title }}</h3><br> <!--タイトル-->
      {{ review.content|linebreaksbr }}  <!--linebreaksbrで投稿者が行った改行を<br>として処理してくれる=レビュー一覧で改行される。-->
      <br>  
      <br>
      <!--写真クリックで拡大できるように変更-->
      <div class="review-img">
      {% if review.photo1_compressed %}
      <a href="{{ review.photo1_compressed.url }}" data-lightbox="review-{{ review.id }}" data-title="1枚目"><img src="{{ review.photo1_compressed.url }}" style="width: 200px; max-height: 200px; margin-left: 10px;"></a>
      {% elif review.review_photo1 %}
      <a href="{{ review.review_photo1.url }}" data-lightbox="review-{{ review.id }}" data-title="2枚目"><img src="{{ review.review_photo1.url }}" style="width: 200px; max-height: 200px; margin-left: 10px;"></a>
      {% endif %}
      {% if review.photo2_compressed %}
      <a href="{{ review.photo2_compressed.url }}" data-lightbox="review-{{ review.id }}" data-title="1枚目"><img src="{{ review.photo2_compressed.url }}" style="width: 200px; max-height: 200px; margin-left: 10px;"></a>
      {% elif review.review_photo2 %}
      <a href="{{ review.review_photo2.url }}" data-lightbox="review-{{ review.id }}" data-title="2枚目"><img src="{{ review.review_photo2.url }}" style="width: 200px; max-height: 200px; margin-left: 10px;"></a>
      {% endif %}
      {% if review.photo3_compressed %}
      <a href="{{ review.photo3_compressed.url }}" data-lightbox="review-{{ review.id }}" data-title="1枚目"><img src="{{ review.photo3_compressed.url }}" style="width: 200px; max-height: 200px; margin-left: 10px;"></a>
      {% elif review.review_photo1 %}
      <a href="{{ review.review_photo3.url }}" data-lightbox="review-{{ review.id }}" data-title="2枚目"><img src="{{ review.review_photo3.url }}" style="width: 200px; max-height: 200px; margin-left: 10px;"></a>
      {% endif %}
    </div>

    </div>
        
    {% empty %}
        <p class="mt-5">レビューはありません。</p>
    {% endfor %}
    </div>
  </div>




  <!--タブのバー3つめ-->
  <div class="tab-pane" id="three">そのほか</div>
</div>

{% endblock %}