{% extends 'base.html' %}
{% load static %}

{% block title %}店舗詳細{% endblock %}

{% block head %}
<!--予約カレンダーのcssとjs-->
<link rel="stylesheet" href="{% static 'css/default.css' %}">
<link rel="stylesheet" href="{% static 'css/default.date.css' %}">
<link rel="stylesheet" href= "{% static 'css/default.time.css' %}">

<script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
<script src="{% static 'js/picker.js'%}"></script>
<script src="{% static 'js/picker.date.js'%}"></script>
<script src="{% static 'js/picker.time.js' %}"></script>
<script src="{% static 'js/legacy.js'%}"></script>
<script src="{% static 'js/lang-ja.js' %}"></script> 
<script src="{% static 'js/main2.js' %}"></script>

<!--skelton-tabの使用(base.htmlには適応しない)-->
<link rel="stylesheet" href="{% static 'css/skeleton-tabs.css' %}">
<link rel="stylesheet" href="{% static 'css/skeleton.css' %}">

{% endblock %}

{% block contents %}

<!--タブのバー-->
<div class="tab-container">
  <ul class="tab-nav">
    <li>
      <a class="button active" href="#one">トップ</a>
    </li>
    <li>
      <a class="button" href="#two">レビュー</a>
    </li>
    <li>
      <a class="button" href="#three">その他</a>
    </li>
  </ul>
</div>
<!--タブのバー終了-->

<!--タブの各ページ-->
<div class="tab-content">

<!--タブのバー1つめ-->
  <div class="tab-pane active" id="one">
    <div class="a_detail">
      <div class="store-h1">
          <h1>店舗詳細</h1>
      </div>
      <hr class="hr1 mb-5">
      <!--カルーセル部分-->
      <div id="carouselExample" class="carousel slide">
          <div class="carousel-inner">
            <div class="carousel-item active">
              {% if object.photo1 %}
                  <img src="{{ object.photo1.url}}" class="d-block w-90" alt="...">
              {% endif %}
            </div>
            <div class="carousel-item">
              {% if object.photo2 %}
                  <img src="{{ object.photo2.url}}" class="d-block w-90" alt="...">
              {% endif %}
            </div>
            <div class="carousel-item">
              {% if object.photo3 %}
                  <img src="{{ object.photo3.url}}" class="d-block w-90" alt="...">
              {% endif %}
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="bi bi-arrow-left-circle-fill" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="bi bi-arrow-right-circle-fill" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <!--カルーセル終了-->
        
        <!--お気に入り機能-->
        <div class="fav col-md-8 mt-3">
          <form id="fav-form" method="post" action="{% url 'gourmet:toggle_favorite' store_id=storeinfo.pk %}">
            {% csrf_token %}
            {% if user.is_authenticated %}
            <button type="submit" id="fav-btn">
              {% if storeinfo.id in user_likes %} <!--店舗詳細ページ上ではお気に入りボタンが押されるまではstore.idを取得できない。--><!--user_likesはviewで作成したいいねリスト-->
                <span id="fav"><i class="fa-solid fa-heart-circle-plus"></i></span>
              {% else %}
                お気に入りに追加<span id="non-fav"><i class="fa-regular fa-heart"></i></span>
            {% endif %}
            </button>
            {% else %}
            <p>お気に入り登録するには<a href="{% url 'account_login'%}">ログイン</a>してください。</p>
            {% endif %}
        
          </form>
          <span id="like-count">{{ storeinfo.like_set.count }}件のいいねがあります。</span> <!--storeinfoに関連するLikeオブジェクトの数をカウント-->
        </div>
        <!--お気に入り機能終了-->

        <div class="row" style="margin-top:80px;">
          <div class="store-info col-md-8" style="padding: 10px; margin-bottom: 10px; border: 1px dotted #333333; border-radius: 5px;">
            <strong>{{ object.store_name }}</strong>
            <br>
            <p style="text-indent: 2rem; font-style: italic;">{{object.category}}</p>
            <div class="desc">
                <u><p>店舗説明:</p></u>
                <p>{{ object.store_detail }}</p>
                <br><br>
                <u>住所:</u>
                <p>{{object.store_address}}</p>
            </div>
          </div>
  
        <!--カレンダーから予約するページ-->
        <section class="section col-md-4">
          <div class="section__block section__block--scoped">
            <h3 style="font-size: 15px; font-weight: bold; margin-bottom: 8px;">予約する</h3>   
  
            <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit"  id="submit" class="btn btn-success btn-lg mt-4" style="display: flex; justify-content: center; align-items: center;margin: auto;">予約する</button>
            </form>  
          </div>
        </div>
    </div>
  </div>
      <script>
          $(document).ready(function(){
            $('.js__datepicker').pickadate({
              format: 'yyyy-mm-dd',
              formatSubmit: 'yyyy-mm-dd',
              hiddenName: true
            });
        
            $('.js__timepicker').pickatime({
              format: 'HH:i',
              formatSubmit: 'HH:i',
              hiddenName: true,
              interval: 30,   // 表示間隔
              min: [10,00],   // 予約開始時間
              max: [20,00]    // 予約終了時間 
            });
          });   
        </script>
  <!--タブのバー1つめ(終了)-->

  <!--タブのバー2つめ-->
  <div class="tab-pane" id="two">
    <div class="a_detail">
      <div class="store-h1">
          <h1>レビュー一覧</h1>
        </div>
      <hr class="hr1 mb-5">
      <a href="{% url 'gourmet:review_form' store_id=object.pk %}" class="btn btn-warning btn-lg">口コミを投稿する</a>
      
    {% for review in reviews %}
    <div class="review-box text-start">
      <div class="review-style" style="display: flex;">
      <strong>{{ review.handle }}</strong> 
      {% if review.score == 1 %}
      <span id="star-color">★</span> <span id="rating-number">1.0</span>
      {% elif review.score == 2 %}
      <span id="star-color">★★</span> <span id="rating-number">2.0</span>
      {% elif review.score == 3 %}
      <span id="star-color">★★★</span> <span id="rating-number">3.0</span>
      {% elif review.score == 4 %}
      <span id="star-color">★★★★</span> <span id="rating-number">4.0</span>
      {% elif review.score == 5 %}
      <span id="star-color">★★★★★</span> <span id="rating-number">5.0</span>
      {% endif %}
      <div style="margin-left: auto;">
      <!-- <p>今ログインしている人:{{user}}</p>
      <p>このレビューを書いた人:{{review.user}}</p> -->
      {% if user == review.user %}  <!--現在ログインしているユーザーとレビューの投稿者が一致していれば-->
      <a class="class="edit-btn  style="border: solid 1px #7d7c7c; color: #6c6969; border-radius: 5px; padding: 5px; font-weight: bold;" href="{% url 'gourmet:review_edit' pk=review.pk %}">編集</a>
      <a class="class="edit-btn  style="border: solid 1px #7d7c7c; color: #6c6969; border-radius: 5px; padding: 5px; font-weight: bold;" href="{% url 'gourmet:review_delete' pk=review.pk %}">削除</a>
      {% endif %}
      </div>
      </div>
      <br>
      <hr style="color: #7d7c7c; margin-top: 5px;">
      投稿日時: {{ review.create_at }}
      <h3  class="review-title" style="font-size: 15px; font-weight: bold;" >{{ review.title }}</h3><br> <!--タイトル-->
      {{ review.content }}
      <br>  
      <br>
      <img src="{{ review.review_photo1.url }}" class="img-thumbnail0" style="max-width: 100%; max-height: 150px; margin-left: 10px;">
      <img src="{{ review.review_photo2.url }}" class="img-thumbnail0" style="max-width: 100%; max-height: 150px;margin-left: 10px">
      <img src="{{ review.review_photo3.url }}" class="img-thumbnail0" style="max-width: 100%; max-height: 150px;margin-left: 10px">


    </div>
        
    {% empty %}
        <p class="mt-5">レビューはありません。</p>
    {% endfor %}
    </div>
  </div>




  <!--タブのバー3つめ-->
  <div class="tab-pane" id="three">そのほか</div>
</div>


{% endblock %}